<div class="container-fluid profile-container">
  <div class="row align-items-center mb-5">
    <div class="col-3">
      <span class="search-devs">Search d_evs</span>
    </div>
    <div class="col-6">
      <app-search [placeholder]="username" [readonly]="true"></app-search>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <app-profile-card [user]="user"></app-profile-card>
    </div>
    <div class="col">
      <app-repos-list [repositories]="repositories"></app-repos-list>
    </div>
  </div>
</div>
