<div class="row">
  <div class="col repos-name">
    <a [href]="getGitRepos()" target="_blank">{{repository.name}}</a>
  </div>
</div>
<div class="row my-3">
  <div class="col">
    {{repository.description}}
  </div>
</div>
<div class="row">
  <div class="col-auto">
    <img src="assets/icons/star.png" alt="star">
  </div>
  <div class="col-auto">
    {{repository.stargazers_count}}
  </div>
  <div class="col-auto p-0">
    •
  </div>
  <div class="col">
    Atualizado {{getLastUpdateAt()}}
  </div>
</div>
