<div class="input-group">
        <span class="input-group-text">
          <img src="assets/icons/zoom.png" alt="zoom"/>
        </span>
  <input type="text" class="form-control" [placeholder]="placeholder" [readonly]="readonly" [disabled]="readonly"
         [formControl]="searchControl"
         (keydown.enter)="onEnterEvent.emit()">
  <div class="has-error" *ngIf="searchControl.hasError('notFound')">
    Esse usuário não foi encontrado, certifique-se de que o nome esta correto.
  </div>
</div>
