$brand-primary: #8C19D2;

.search-devs {
  font-size: var(--font-size, 16px);

  background: -webkit-linear-gradient(right, $brand-primary, #0069CA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Override default btn configs
.btn-primary {
  --bs-btn-bg: #{$brand-primary};
  --bs-btn-border-color: #{$brand-primary};
  --bs-btn-hover-bg: #{$brand-primary};
  --bs-btn-hover-border-color: #{$brand-primary};
  --bs-btn-active-bg: #{$brand-primary};
  --bs-btn-active-border-color: #{$brand-primary};
  --bs-btn-disabled-bg: #{$brand-primary};
  --bs-btn-disabled-border-color: #{$brand-primary};
  --bs-btn-border-radius: 6px;

  width: 100%;
}

.input-group {
  border: solid 2px $brand-primary;
  border-radius: 0.375rem;

  span {
    opacity: .5;
  }
}

div {
  color: #4A5568;
}
